<!DOCTYPE html>
<html>
<head>
  <title>Begrimed Tonic</title>
</head>
  <body>
    <!--Pulls the infromation needed inside of this tag from from the views folder. this will render on every page -->
    {{{body}}}
  </body>
</html>
